#root,
body,
html {
  margin: 0;
  height: 100%;
}

body {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
